<?xml version="1.0" encoding="utf-8"?>
<configuration>
	

	<connectionStrings>
		<add connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBAgendaRech;Integrated Security=True;Pooling=False"
			 name="DBAgenda"
			 providerName="System.Data.SqlClient" />

		<add connectionString="Data Source =..\..\DBeAgenda.db"
			name ="dbeagendalite"
			 providerName="System.Data.SQLite" />
	</connectionStrings>

	<appSettings>
		<add key ="bancoDeDados" value="DBAgenda"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
</configuration>